# Cesium ION Token
# Get your token from: https://cesium.com/ion/tokens
VITE_CESIUM_ION_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwNjQ1MDAxYy0xZDQxLTRmMzgtYTk0Yy1lY2ViNzRlMjZmNDAiLCJpZCI6MjU3NDkzLCJpYXQiOjE3NjkzNzk0NDZ9.i0ysvqqHAKkkK1P4RtJF5R_7u8yLUUAXnZfBx01EIg0
